.contactoS{
  margin: 66px 0 0 0;
  background-color: #0b1521;
}
.contactoS2{
  padding: 40px 0 50px 0;
  color: white;
}
.contactoS2 h1{
  color: white;
}
.Cinfo{
  padding: 40px 0 0 0;
}
.Cinfo h2{
  color: white;
}