
body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  display: flex;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1;
}
#navbar em{
  color: lightblue;
  font-size: 25px;
  font-family: 'Lobster', cursive;
  margin: 11px 0 0 6px;
}
#navbar #d{
  padding: 0%;
  margin: 0%;
}
.show {display: block;
}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.danger {color: red;
}
#navbar .a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}
#navbar .a:hover {
  background-color: #4a4a4a;
}
.margin{
  margin-left: auto;
  margin-top: 2px;
}
.margin2{
  margin-top: 2px;
}
.button1 {
  background-color:#84ccb1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.button1:hover {opacity: 1}
.button2 {
  background-color:#f5f5f5;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.button2:hover {opacity: 1;
}
.logoMenu{
  margin: 0 0 -110px 0;
}
@media screen and (max-width: 1024px) {
  #navbar{
    display: none;
  }
}
@media screen and (max-width: 425px) {
  #navbar{
    display: flex;
    background-color: #333;
  }
  #navbar em{
    font-size: 20px;
    margin: 11px 0 0 0;
  }
  #navbar .a {
    display: none;
  }
  #navbar .log {
    display: block;
  }
  .button1{
    display: none;
  }
  .B1{
    display: initial;
  }
  .button2{
    display: none;
  }
  .B2{
    display: inline;
  }
  .barras {
    display: inline-block;
    cursor: pointer;
    margin: 9px 20px 0 0;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: -15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  z-index: 1;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f1f1f1;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
}

