<nav id="navbar">
  <a href="/" class="a log"><em><em id="s">S</em>weet<em id="d">D</em>rinks</em></a>
  <a href="/" class="a"><i class="fas fa-home"></i> Home</a>
  <a href="/info/aboutUs" class="a"><i class="fas fa-users"></i> ¿Quiénes somos?</a>
  <a href="/info/contact" class="a"><i class="fas fa-mobile-alt"></i> Contacto</a>
  <a href="/menu/productos" class="a"><i class="fas fa-cocktail"></i> Menú</a>

  {{#if user}}
    <!-- carrito -->

  <!-- Trigger/Open The Modal -->
  <button id="btnCarrito" class="uk-button uk-button-primary"><i class="fas fa-cart-plus"></i> Carrito</i></button>

  <!-- The Modal -->
  <div id="modalCarrito" class="carritoModal">

    <!-- Modal content -->
    <div class="modal-content-carrito">
      <div class="modal-header-carrito">
        <span class="closeCarrito">&times;</span>
        <h2 class="tituloC"><i class="fas fa-shopping-cart fa-1x"> </i> Carrito</h2>
      </div>
      <div id="tableCarrito" class="modal-body-carrito">
        <table>
          <tbody>
            <tr>
              <th>Descripción</th>
              <th>Precio/U</th>
            </tr>
          </tbody>
        </table>
        <div id="productsList">
          <div class="content" id="tCarrito">
          </div>
        </div>
      </div>
      <div class="modal-footer-carrito">
        <h2 class="Tprices">Total: $ <em id="Tprice"></em></h2>
        <form action="/menu/carrito" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_epuiqKESrji9Ae5A3KlGduyb"
              data-amount="999"
              data-name="SweetDrinks"
              data-description="Your paiment"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
            </script>
          </form>
      </div>
    </div>

  </div>

  <!-- carrito -->
  <div class="dropdown">
    <button class="dropbtn normal" onclick="myFunction()"><i class="fas fa-user"></i> {{user.name}}</button>
    <div id="myDropdown" class="dropdown-content">
      <form action="/profile/account" method="GET">
        <button class="btn" type="submit">Mi cuenta</button>
      </form>
      <form action="/auth/logout" method="POST">
        <button class="btn danger" type="submit">Cerrar sesión</button>
      </form>
    </div>
  </div>
  {{else}}
  <form method="GET" action="/auth/signup" class="margin">
    <button class="button1" type="submit"><strong><i class="fas fa-user-plus"></i> Regístrate</strong></button>
  </form>
  <form method="GET" action="/auth/login" class="margin2">
    <button class="button2" type="submit"><strong><i class="fas fa-sign-in-alt"></i> Iniciar sesión</strong></button>
  </form>
  {{/if}}

  <div class="barras" onclick="openNav()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <div id="myNav" class="overlay">
    <a class="closebtn" onclick="closeNav();">&times;</a>
    <div class="overlay-content">
      <img class="logoMenu" src="/images/logo.png" />
      {{#if user}}
      <div class="dropdown">
        <form class="c" action="/profile/account">
          <button onclick="myFunction()" class="dropbtn"><i class="fas fa-user"></i> {{user.name}}</button>
        </form>
      </div>
      <form action="/auth/logout" method="POST">
        <button class="btn danger" type="submit"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
      </form>
      {{else}}
      <form method="GET" action="/auth/signup" class="FM">
        <button class="button1 B1" type="submit"><strong><i class="fas fa-user-plus"></i> Regístrate</strong></button>
      </form>
      <form method="GET" action="/auth/login" class="FM2">
        <button class="button2 B2" type="submit"><strong><i class="fas fa-sign-in-alt"></i> Iniciar sesión</strong></button>
      </form>
      {{/if}}
      <a href="/" class="exep"><i class="fas fa-home"></i> Home</a>
      <a href="/info/aboutUs" class=""><i class="fas fa-users"></i> ¿Quiénes somos?</a>
      <a href="/info/contact" class=""><i class="fas fa-mobile-alt"></i> Contacto</a>
      <a href="/menu/productos" class=""><i class="fas fa-cocktail"></i> Menú</a>
    </div>
  </div>

</nav>
