<main>
    <div class="CFinal">
        <h1>Confirma tu pedido</h1>
        <form action="/menu/carrito" method="POST">

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" name="nameC" placeholder="{{user.name}}">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon:  mail"></span>
                        <input class="uk-input" type="email" name="emailC" placeholder="{{user.email}}">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon:  phone"></span>
                        <input class="uk-input" type="tel" name="phoneC" placeholder="{{user.phone}}">
                    </div>
                </div>

                <p class="uk-margin">

                    <button type="submit" class="uk-button uk-button-primary">Hacer pedido</button>

                </p>
        </form>
    </div>
</main>