<main>
  <div id="items">
    <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Cervezas</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each cerveza}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
    <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Vinos de mesa</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each vino}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
    <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Tequilas</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each tequila}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
    <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Brandys</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each brandy}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
    <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Rones</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each ron}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
    <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Vodkas</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each vodka}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
    <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Whiskeys</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each whiskey}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
    <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Ginebras</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each ginebra}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
    <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Mezcladores</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each mezclador}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
    <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Jugos</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each jugos}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
      <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Botanas</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each botana}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
      <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Cigarros</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each cigarros}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
      <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Farmacia</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each farmacia}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
      <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Juegos y más</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each juegos}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
      <div class="container" uk-parallax="background-color:  white,#0b1521;">
      <h1 class="apartado">Servicios</h1>
      <div class="uk-child-width-1-5 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each servicios}}
        {{> productos this}}
        {{/each}}
      </div>
    </div>
  </div>

  
</main>
<script>
  function createNewItemRow(itemUnitPrice, itemName){ 
  //var nombre = document.getElementsByClassName("nombre-producto");
  console.log(itemName)
  var div = document.createElement('div');
  div.setAttribute("class", "Scarrito");
  div.appendChild(createItemNode2(itemName));
  div.appendChild(createItemNode(itemUnitPrice));
  div.appendChild(createQuantityInput());
  div.appendChild(createQuantityNode());  
  div.appendChild(createDeleteButton());
  console.log(div)
  document.getElementById("tCarrito").appendChild(div);
  return div;
}
function createItemNode2(itemName){
  console.log('segunda función ',itemName)
  var div = document.createElement('div');
  div.setAttribute("class", "Icarrito");
  var label = document.createElement('label');
  var data = document.createTextNode(itemName);
  label.appendChild(data);
  div.appendChild(label);
  return div;
}
  function createItemNode(itemData){
  var div = document.createElement('div');
  div.setAttribute("class", "Icarrito");
  var label = document.createElement('label');
  var data = document.createTextNode(itemData);
  data = document.createTextNode('$ ' + itemData);
  label.setAttribute('class','unitPrice');
  label.appendChild(data);
  div.appendChild(label);
  //document.getElementById("tCarrito").appendChild(div);
  return div;
}
  function createQuantityInput(){
    var div = document.createElement('div');
    div.setAttribute("class", "Icarrito");
  var label = document.createElement('label');
  var input = document.createElement('input');
  var data = document.createTextNode('Qty ');
  input.setAttribute('class','inputQuatity');
  input.setAttribute('type','number');
  label.setAttribute('for','inputQuatity');
  label.appendChild(data);
  div.appendChild(label);
  div.appendChild(input);
  //document.getElementById("tCarrito").appendChild(div);
  return div;
  }
  function createQuantityNode(){
  var div = document.createElement('div');
  div.setAttribute("class", "Icarrito");
  var label = document.createElement('label');
  var price = document.createTextNode('$0.00');
  label.setAttribute('class','totalPrice');
  label.appendChild(price);
  div.appendChild(label);
  //document.getElementById("tCarrito").appendChild(div);
  return div;
}
  function createDeleteButton(){
  var div = document.createElement('div');
  div.setAttribute("class", "Icarrito");
  var button = document.createElement('button');
  var del = document.createTextNode('Delete');
  button.setAttribute('class','btn btn-delete');
  button.appendChild(del);
  div.appendChild(button);
  //document.getElementById("tCarrito").appendChild(div);
  return div;
}


</script>